.add-pet-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.add-pet-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-pet {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 400px;
  background: #fff;
  padding: 30px 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.__btn {
  background-color: transparent;
  color: white;
  font: inherit;
  width: 100%;
  height: 100%;
}
.add-pet-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-pet-right {
  width: 70%;
  height: 100%;
}
.add-pet-form h1 {
  margin: 20px;
  color: #e92e4a;
  /* background: #fff; */
}
.add-pet .button {
  background: #209420;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 3px;
  width: 415px;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.add-pet-right > .save-btn:hover {
  background-color: rgb(0, 107, 0);
}
.toLogin a {
  color: #e92e4a;
}
.add-image-1 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: content;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.add-image-1:hover {
  background-color: rgba(0, 0, 0, 0.175);
}
.add-image-1 img {
  width: 100%;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 50px;
  color: #ccc;
}
.save-btn {
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  background-color: #209420;
  color: #fff;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  cursor: pointer;
}
.add-pet-form a {
  position: absolute;
  color: #e92e4a;
  font-size: 30px;
  top: 80px;
  left: 20px;
}
